.phaseToolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.toolbarBtn {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #dbefff;
  cursor: pointer;
  transition: all 0.3s;
}

.toolbarBtn:hover {
  background: #a3cfff;
}

.toolbarBtn.active {
  background: #4facfe;
  color: white;
  font-weight: bold;
}
